<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>



        $(document).on('click', '#files_send', function () {
            let formData = new FormData();
            let key = $('#file_name').val();

            let file = $('#photo_upload')[0].files[0]

            formData.append('key',key)
            formData.append('img',file)

            $.ajax({
                url: 'http://localhost:5000/api/v1/nsts/',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                        console.log(response);
                        $('.down').remove()
                        let abc = ``
                        abc = `<a class="down" onClick="javascript:location.href='${response.file_url}';">다운로드</a>`
                        $('#download').append(abc)

                    }
                })


        })


    </script>
</head>
<body>

<form id="ajaxform" action="/upload" method="post" enctype="multipart/form-data">

    <input type="file" multiple id="photo_upload">
    <input type="text" id="file_name">
    <output id="list"></output>
    <input type="button" value="완료" id="files_send">
    <div id = 'download'>
    <a class = down>다운로드</a>
    </div>
</form>

</body>
</html>