<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        {#function get() {#}
        {#    $.ajax({#}
        {#        url: 'http://localhost:5000/api/v1/nsts',#}
        {#        type: 'get',#}
        {#        dataType: 'json',#}
        {#        data: {#}
        {#            test: 'test_data'#}
        {#        },#}
        {#        contentType: false,#}
        {#        processData: false,#}
        {#        success: function (response) {#}
        {#            console.log(response);#}
        {##}
        {#        }#}
        {##}
        {#    })#}
        {#}#}

        $(document).on('click', '#files_send', function () {
            let formData = new FormData();
            let key = $('#file_name').text();

            for (let i = 0; i < $('#photo_upload')[0].files.length; i++) {
                formData.append('uploadFile', $('#photo_upload')[0].files[i]);
            }


            $.ajax({
                url: 'http://localhost:5000/api/v1/nsts',
                type: 'get',
                data: {'key': key, 'img': formData},
                contentType: false,
                processData: false,
                success: function (data) {
                    console.log(data);

                }

            })
        })


    </script>
</head>
<body>

<form id="ajaxform" action="/upload" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" multiple id="photo_upload">
    <input type="text" id="file_name">
    <output id="list"></output>
    <input type="button" value="완료" id="files_send">
</form>

</body>
</html>