<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script>
    function q1() {
        {#$('.test_img').empty()#}
        $.ajax({
            type: "GET",
            url: "http://127.0.0.1:5000/api/v1/nsts/",
            data: {},
            success: function (response) {
                let img = response['file_url']
                console.log(img)

                {#$('.test_img').append(img)#}
            }
        })
    }
</script>
</head>
<body>
    <div class="test_img"></div>
</body>
</html>